.blog-page {
    position: relative;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-gap: 10px;
    justify-content: center;
}

.blog-elements {
    display: grid;
    grid-column: 2;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 20px;
}

.blog-title {
    color: tomato;
}

.blog-content {
    padding-left: 10px;
    color: teal;

}