.blog-page {
    max-width: 80%;
    padding-top: 20px;
    display: grid;
    place-items: center;
    grid-gap: 10px;
}

.blog-elements {
    width: 100%;
    height: fit-content;
    display: grid;
    background-color: lightgrey;
    padding: 10px;
}

.blog-title {
    padding: 5px;
    color: #9ed2c6;
    background: orchid;

    height: fit-content;
    font-size: 2em;
}

.blog-content {
    padding: 20px;
    color: teal;

}

@media only screen and (max-width: 1080px) {
    .blog-page {
        max-width: 70%;
        padding-top: 20px;
        display: grid;
        place-items: center;
        grid-gap: 10px;
    }
}