.contact-body {
    display: grid;
    place-items: center;
    width: 100%;
    background: transparent;
    transform: translateX(100%);
    opacity: 0;

    /* Animate the component as it comes into view */
    animation: right-fade-and-roll-in 0.5s ease-in-out forwards;
}

@keyframes right-fade-and-roll-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes left-fade-and-roll-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.form-contact {
    display: grid;
    place-items: center;
    padding: 20px;
    background: transparent;
}

.form-header {
    display: grid;
    place-items: center;
}

.form-element {
    justify-content: center;
    width: 60%;
}

.form-input {
    margin: 10px;
    padding: 15px;
}

.button-styling {
    padding: 20px
}

.form-button {
    margin: 10px;
}

.form-button:after {
    content: "Send!";
}

.form-button:hover:after {
    content: "Under Construction...";
}