.contact-body {
    animation: fadeIn 2.5s;
    display: grid;
    place-items: center;
    width: 100%;
    background: transparent;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-contact {
    display: grid;
    place-items: center;
    padding: 20px;
    background: transparent;
}

.form-header {
    display: grid;
    place-items: center;
}

.form-element {
    justify-content: center;
    width: 60%;
}

.form-input {
    margin: 10px;
    padding: 15px;
}

.button-styling {
    padding: 20px
}

.form-button {
    margin: 10px;
}