.navbar {
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%,
    rgba(150, 190, 116, 1) 50%, rgba(253, 45, 50, 1) 100%);
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 4vmax;
}

.nav-header {
    display: grid;
    align-items: center;
    grid-template-columns: 25% 75%;
    grid-gap: 10%;
    list-style: none;
}

.nav-text {
    font-size: 3vmax;
    text-decoration: none;
    color: white;
    justify-self: center;
    padding-right: 20px;
}

.nav-logo {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    align-self: center;
    border: 2px solid black;
    border-radius: 60px;
}

.nav-links {
    display: grid;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    list-style: none;
}

.nav-link {
    font-size: 3vmax;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.3s all;
}

.nav-link:hover {
    color: grey;
}

.nav-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .navbar {
        position: relative;
    }

    .nav-header {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 25% 75%;
        grid-gap: 10%;
        list-style: none;
    }

    .nav-text {
        font-size: 3vmax;
        text-decoration: none;
        color: white;
        justify-self: center;
        padding-right: 20px;
    }

    .nav-logo {
        max-width: 100px;
        max-height: 100px;
        width: auto;
        height: auto;
        align-self: center;
        border: 2px solid black;
        border-radius: 60px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        width: 100%;
        top: -200px;
        transition: 0.5s all;
        z-index: -1;
    }

    .nav-links.active {
        background: linear-gradient(180deg, rgba(34, 193, 195, 1) 0%,
        rgba(150, 190, 116, 1) 75%,
        rgba(253, 45, 50, 1) 100%);
        top: 100%;
        left: 0;
    }

    .nav-item {
        padding: 10px 0;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
    }

    .nav-icon {
        display: flex;
    }
}