.nav-wording {
    font-family: sans-serif;
    font-size: 1dvmax;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.navBarMain {
    background: #54BAB9;
}

.body {
    display: flex;
    justify-content: center;
    background: #9ED2C6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

@media only screen and (max-width: 1080px) {
    nav-wording {
        font-family: sans-serif;
        font-size: 4dvmax;
        color: white;
        text-shadow: 1px 1px 1px red;
    }

    .navBarMain {
        background: darkslateblue;
    }

    .body {
        display: flex;
        justify-content: center;
        background: mediumpurple;
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }
}
