.navBarImage {
    width: auto;
    max-height: 100px;
}

.navBarMain {
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%,
    rgba(150, 190, 116, 1) 50%, rgba(253, 45, 50, 1) 100%);
    max-height: 150px;
}

.navBarElements {
    width: 100%;
}

body {
    padding-top: 150px;
}