.nav-wording {
    font-family: sans-serif;
    font-size: 3dvmin;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-left: 5%;
}

.navBarMain {
    background: #54BAB9;
}

.head {
}

.body {
    display: flex;
    height: calc(100vh - 70px);
    background: #9ED2C6;
    padding: 2dvmax;
}

.foot {
}
