.left-projects-body {
    text-align: center;
    width: 70%;
    transform: translateX(-100%);
    opacity: 0;

    /* Animate the component as it comes into view */
    animation: left-fade-and-roll-in 0.5s ease-in-out forwards;
}

@keyframes left-fade-and-roll-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.right-projects-body {
    text-align: center;
    width: 70%;
    transform: translateX(-100%);
    opacity: 0;

    /* Animate the component as it comes into view */
    animation: right-fade-and-roll-in 0.5s ease-in-out forwards;
}

@keyframes right-fade-and-roll-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.projects-body {
    text-align: center;
    width: 70%;
}

.projects-header {
    padding-top: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}

.game-card {
    max-width: 600px;
    padding: 5px;
    cursor: pointer;
    transform-origin: center bottom;
    transition: 250ms all;
}

.game-card > img {
    border: 5px solid #E9DAC1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cards-container:hover .game-card {
    opacity: 0.5;
}

.game-card:hover {
    opacity: 1 !important;
    transform: scale(1.05);
}

.game-card:hover ~ .game-card {
    transform: translate3d(0, 0, 20px);
}

/* =========================================================================== */

.expanded-project-view {
    height: max-content;
}

.interior-project-page-view {
    max-height: max-content;
    background: peachpuff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
    padding: 10px;
}

@media only screen and (max-width: 460px) {

    .interior-project-page-view {
        max-height: clamp(100px, 20vw, 700px);
        background: peachpuff;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto auto;
    }

}

.project-view-header {
    background: pink;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.project-view-header-exit {
    background: pink;
    padding: 5px;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 5;
}

.exit-button {
    background: transparent;
    color: black;
    font-size: larger;
    border: transparent;
    padding-left: 75%;
}

.exit-button:hover {
    background: transparent;
    color: grey;
}

.project-view-images {
    max-height: clamp(600px, 20vw, 1000px);
    display: grid;
    grid-template-columns:  20% 80%;
    grid-template-rows:  75% 25%;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.project-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: fit-content;
    max-height: fit-content;
    overflow-x: hidden;
}

.project-selected-image {
    place-self: center;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 800px;
    max-height: 600px;
    overflow-x: hidden;
    padding: 25px;
}

.project-view-description {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 4;
}

.project-view-description-text {
    padding: 5px;
    font-size: clamp(1.2ch, 2vw, 2ch);
}

.project-view-itch {
    display: flex;
    justify-content: center;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}