.left-projects-body {
    text-align: center;
    width: 85%;
    transform: translateX(-100%);
    opacity: 0;

    /* Animate the component as it comes into view */
    animation: left-fade-and-roll-in 0.5s ease-in-out forwards;
}

@keyframes left-fade-and-roll-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.right-projects-body {
    text-align: center;
    width: 85%;
    transform: translateX(-100%);
    opacity: 0;

    /* Animate the component as it comes into view */
    animation: right-fade-and-roll-in 0.5s ease-in-out forwards;
}

@keyframes right-fade-and-roll-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.projects-body {
    text-align: center;
    width: 85%;
}

.projects-header {
    padding-top: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}

.game-card {
    max-width: 600px;
    padding: 5px;
    cursor: pointer;
    transform-origin: center;
    transition: 250ms all;
}

.game-card > img {
    border: 5px solid slategrey;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.game-card:hover {
    opacity: 1 !important;
    transform: scale(1.05);
}

.game-card:hover ~ .game-card {
    transform: translateX(-20px);
}

/* =========================================================================== */

.expanded-project-view {
    display: grid;
    max-height: calc(60% - 40%); /* set the max-height to be 80% of the screen's height, minus 20% for the GameCards */
    top: 5%; /* set the top position to be 10% of the screen's height */
    padding-top: 10px;

}

@media (max-width: 800px) {
    .expanded-project-view {
        display: grid;
        max-height: calc(60% - 40%); /* set the max-height to be 80% of the screen's height, minus 20% for the GameCards */
        top: 5%; /* set the top position to be 10% of the screen's height */
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.interior-project-page-view {
    border: 2px solid black;
    max-height: fit-content;
    background: slategrey;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
    padding: 5px;
}

@media only screen and (max-width: 460px) {

    .interior-project-page-view {
        max-height: clamp(100px, 20vw, 700px);
        background: grey;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto auto;
    }

}

.project-view-header {
    background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: clamp(24px, 1.5vw, 28px);
    z-index: 1;
    height: fit-content;
    display: grid;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

.project-view-header-title {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
}

.project-view-header-exit {
    height: 100%;
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
}

.exit-button {
    background: transparent;
    color: black;
    font-size: larger;
    border: transparent;
}

.exit-button:hover {
    color: #ffffff;
    background-color: transparent;
}

.exit-button:active:focus {
    color: #ffffff;
    background-color: transparent;
}

.project-view-images {
    padding: 20px 20px 20px 10px;
    max-height: clamp(600px, 20vw, 1000px);
    display: grid;
    gap: 10px;
    grid-template-columns:  20% 80%;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.project-image {
    max-width: 600px; /* set the maximum width of the images to 600px */
    width: 100%; /* make the images fill the width of their container */
    height: auto; /* make the height of the images adjust based on their aspect ratio */
    cursor: pointer;
    transition: 0.5s;
    overflow-y: scroll;
}

.project-image:hover > :not(:hover) {
    opacity: .4;
}

.project-selected-image-holder {
    border-radius: 10px;
    display: grid;
    place-content: center;
}

.project-selected-image-itself {
    border: 5px solid grey;
    border-radius: 5px;
    max-width: 100%;
    height: 100%;

}

.project-view-description {
    padding: 5px;
    border: 2px solid grey;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 4;
}

.project-view-description-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    top: 25%;
}

.project-view-description-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 5px;
    font-size: clamp(1ch, 1vw, 2ch);
}

.project-view-itch {
    display: flex;
    justify-content: center;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}