.left-projects-body {
    text-align: center;
    width: 85%;
    transform: translateX(-100%);
    opacity: 0;

    /* Animate the component as it comes into view */
    animation: left-fade-and-roll-in 0.5s ease-in-out forwards;
}

@keyframes left-fade-and-roll-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.right-projects-body {
    text-align: center;
    width: 85%;
    transform: translateX(-100%);
    opacity: 0;

    /* Animate the component as it comes into view */
    animation: right-fade-and-roll-in 0.5s ease-in-out forwards;
}

@keyframes right-fade-and-roll-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.projects-body {
    text-align: center;
    width: 85%;
}

.projects-header {
    padding-top: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}

.game-card {
    max-width: 600px;
    padding: 5px;
    cursor: pointer;
    transform-origin: center;
    transition: 250ms all;
}

.game-card > img {
    border: 5px solid slategrey;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.game-card:hover {
    opacity: 1 !important;
    transform: scale(1.05);
}

.game-card:hover ~ .game-card {
    transform: translateX(-20px);
}

/* =========================================================================== */

.expanded-project-view {
    display: grid;
    max-height: calc(70% - 30%); /* set the max-height to be 80% of the screen's height, minus 20% for the GameCards */
    top: 10%; /* set the top position to be 10% of the screen's height */

}


@media (max-height: 800px) {
    .expanded-project-view {
        height: 100%;
        top: 0;
    }
}

.interior-project-page-view {
    border: 5px solid slategrey;
    max-height: max-content;
    background: slategrey;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
    padding: 10px;
}

@media only screen and (max-width: 460px) {

    .interior-project-page-view {
        max-height: clamp(100px, 20vw, 700px);
        background: grey;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto auto;
    }

}

.project-view-header {
    display: grid;
    padding: 5px;
    background: pink;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

.project-view-header-title {
    grid-column-start: 1;
    grid-column-end: 4;
}

.project-view-header-exit {
    grid-column-start: 4;
    grid-column-end: 5;
}

.exit-button {
    background: transparent;
    color: black;
    font-size: larger;
    border: transparent;
}

.exit-button:hover {
    background: transparent;
    color: grey;
}

.project-view-images {
    padding: 20px 20px 0px 10px;
    max-height: clamp(600px, 20vw, 1000px);
    display: grid;
    gap: 10px;
    grid-template-columns:  20% 80%;
    grid-template-rows:  75% 25%;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.project-image {
    max-width: 600px; /* set the maximum width of the images to 600px */
    width: 100%; /* make the images fill the width of their container */
    height: auto; /* make the height of the images adjust based on their aspect ratio */
    cursor: pointer;
    transform-origin: center bottom;
    transition: 250ms all;
}

.project-image:hover {
    opacity: 1 !important;
    transform: scale(1.02);
}

.project-selected-image {
    border: 5px solid grey;
    border-radius: 10px;
    place-self: center;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.project-view-description {
    border: 2px solid grey;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 4;
}

.project-view-description-text {
    margin: 5px;
    font-size: clamp(1ch, 1vw, 2ch);
}

.project-view-itch {
    display: flex;
    justify-content: flex-end;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}